.App {
  text-align: center;
  height: 100%;
  position: relative;
}

.source-tree-app {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.custom-field {
  font-size: 12px;
}

.source-tree-app p {
  font-size: 40px;
  color: #a6a6a6;
}
